<footer>
    <p>&copy; 2025 AI Interview System. All rights reserved.</p>
</footer>
<script>
    window.ENV = {
      NODE_ENV: 'production', // or 'development'
      API_BASE_URL: 'https://interview-website-6nl4.onrender.com'
    };
  </script>
<script src="/script.js"></script>
</body>
</html>
